include white_matter/wm_recipe/img/White matter con mat.png
include white_matter/wm_recipe/img/layer_profile1.png
include white_matter/wm_recipe/img/layer_profile2.png
include white_matter/wm_recipe/img/layer_profile3.png
include white_matter/wm_recipe/img/layer_profile4.png
include white_matter/wm_recipe/img/layer_profile5.png
include white_matter/wm_recipe/img/layer_profile6.png
include white_matter/wm_recipe/img/module_rel_frequency_anterolateral_inter.png
include white_matter/wm_recipe/img/module_rel_frequency_anterolateral_intra.png
include white_matter/wm_recipe/img/module_rel_frequency_medial_inter.png
include white_matter/wm_recipe/img/module_rel_frequency_medial_intra.png
include white_matter/wm_recipe/img/module_rel_frequency_prefrontal_inter.png
include white_matter/wm_recipe/img/module_rel_frequency_prefrontal_intra.png
include white_matter/wm_recipe/img/module_rel_frequency_somatomotor_inter.png
include white_matter/wm_recipe/img/module_rel_frequency_somatomotor_intra.png
include white_matter/wm_recipe/img/module_rel_frequency_temporal_inter.png
include white_matter/wm_recipe/img/module_rel_frequency_temporal_intra.png
include white_matter/wm_recipe/img/module_rel_frequency_visual_inter.png
include white_matter/wm_recipe/img/module_rel_frequency_visual_intra.png
include white_matter/wm_recipe/img/per_layer_23_contra.png
include white_matter/wm_recipe/img/per_layer_23_ipsi.png
include white_matter/wm_recipe/img/per_layer_4_contra.png
include white_matter/wm_recipe/img/per_layer_4_ipsi.png
include white_matter/wm_recipe/img/per_layer_5it_contra.png
include white_matter/wm_recipe/img/per_layer_5it_ipsi.png
include white_matter/wm_recipe/img/per_layer_5pt_contra.png
include white_matter/wm_recipe/img/per_layer_5pt_ipsi.png
include white_matter/wm_recipe/img/per_layer_6_contra.png
include white_matter/wm_recipe/img/per_layer_6_ipsi.png
include white_matter/wm_recipe/img/per_layer_ALL_contra.png
include white_matter/wm_recipe/img/per_layer_ALL_ipsi.png
include white_matter/wm_recipe/img/per_layer_cbar.PNG
include white_matter/wm_recipe/img/relative_density_cbar.png
include white_matter/wm_recipe/img/relative_frequency_23.png
include white_matter/wm_recipe/img/relative_frequency_4.png
include white_matter/wm_recipe/img/relative_frequency_5it.png
include white_matter/wm_recipe/img/relative_frequency_5pt.png
include white_matter/wm_recipe/img/relative_frequency_6.png
include white_matter/wm_recipe/img/relative_frequency_cbar.png
include white_matter/wm_recipe/layer_profiles/default.json
include white_matter/wm_recipe/p_types/default.json
include white_matter/wm_recipe/p_types/tree_model_final.json
include white_matter/wm_recipe/projection_mapping/default.json
include white_matter/wm_recipe/projection_mapping/mapping_cfg.json
include white_matter/wm_recipe/projection_mapping/mapping_cfg_voxel.json
include white_matter/wm_recipe/projection_mapping/voxel_mappings.h5
include white_matter/wm_recipe/projection_strength/default.json
include white_matter/wm_recipe/projection_strength/projection_matrices.h5
include white_matter/wm_recipe/projection_strength/relative_layer_volumes.json
include white_matter/wm_recipe/yaml/mapping.yaml
include white_matter/wm_recipe/yaml/synapse_type.yaml
