include white_matter/wm_recipe/layer_profiles/default.json
include white_matter/wm_recipe/p_types/default.json
include white_matter/wm_recipe/projection_mapping/default.json
include white_matter/wm_recipe/projection_mapping/mapping_cfg.json
include white_matter/wm_recipe/projection_mapping/mapping_cfg_voxel.json
include white_matter/wm_recipe/projection_strength/default.json
include white_matter/wm_recipe/projection_strength/relative_layer_volumes.json
include white_matter/wm_recipe/synapse_types/default.json
include white_matter/wm_recipe/yaml/mapping.yaml
